body {
  font-family: 'Tajawal', sans-serif;
  overflow-wrap: break-word;
  font-size: 0.8em
}

.main {
  float: right;
  width: 73%;
  padding: 10px;
}

.side {
  float: left;
  text-align: right;
  width: 20%;
  background-color: #ecebec;
  padding: 15px;
  border-radius: 10px;
  font-size: 1em;
  padding-bottom: 1.2em;
  /*border-right: 5px dashed #764f9e;*/
}

.side .h2 {
  color: purple;
  font-size: 1.2em;
  padding-bottom: 3px;

}

.side .h3 {
  font-size: 1.1em;
}

.main .h2 {
  font-size: 1.25em;
  border-bottom: 2px solid purple;
}

.main .h3 {
  font-size: 1.15em;
}

.main .h4 {
  font-size: 1em;
  padding-bottom: 3px;
}

#about {
  font-style: italic;
  font-size: 1em;
}

.h1, .h2 {
font-family: 'Work Sans', sans-serif;
margin-top: 15px;
}

.h1 {
  font-size: 3em;
  overflow-wrap: break-word;
}

.h1, .h2, .h3, .h4 {
  font-weight: bold;
}

.side .category {
  /*text-align: right;*/
}
.side .element {
  padding-top: 15px;
}
.current-title {
  border-bottom: 5px solid purple;
  font-size: 1.25em;
}

.main .element {
  padding-top: 15px;
}

#contact {
  padding-bottom: 2em;
  padding-top: 3em;
  /*text-align: center;*/
  font-size: 1em;
  font-weight: bold;
}

/*#name {
  overflow-wrap: break-word;
}*/

/*.main, .side {
  padding: 1px;
}*/

@media print {
  html {
   size: 7in 9.25in;
   margin: 0;
   /*margin: 27mm 16mm 27mm 16mm;*/
}
}